/* CSS MATERI */
.materi-container {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  position: relative;
  justify-content: center;
  min-height: 100vh; 
  display: flex;
  background: linear-gradient(to right, #4d156d, #3b1c68, #2a1f61, #1a2058, #0c1f4e, #07224e, #03244e, #01264d, #022d57, #023560, #013d6a, #004574); 
}

html {
  scroll-behavior: smooth;
}

.section {
  max-width: 1100px;
  width: 100%;
  position: relative;
  max-width: 1100px;
  overflow: hidden;
}

.section i {
  top: 55%;
  height: 45px;
  width: 43px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 45px;
  background: #fff;
  border-radius: 50%;
  z-index: 9998;
  box-shadow: 0 3px 6px rgba(0,0,0,0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}

.section i:first-child {
  margin-left: 130px;
  margin-top: -20px;
}

.section i:last-child {
  margin-left: 930px;
  margin-top: -20px;
}

.ul-listMateri {
  scroll-snap-type: none;
  scroll-behavior: auto;

}

.section .ul-listMateri {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100 / 3) - 12px);
  gap: 230px;
  position: static;
  margin-top: 110px;
  margin-left: 150px;
  text-align: center;
  transition: transform 0.5s ease-in-out;
}

.ul-listMateri .cardMateri {
  list-style: none;
  scroll-snap-align: start;
  background: #07224E;
  border-radius: 8px;
  display: flex;
  cursor: pointer;
  padding-bottom: 15px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.cardMateri {
  border-radius: 5px;
  box-shadow: 5px 5px 8px 0 black;
  width: 800px;
  height: 400px;
  position: static;
}

.ul-listMateri :where(.cardMateri) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.judul {
  font-size: 40px;
  color: #fff;
  text-shadow:  4px 6px rgba(0,0,0,0.23);
  margin-top: 30px;
  font-weight: bold;
}

.paragrafmateri {
  margin: 10px;
  padding: 50px;
  color: #fff;
}

.rumus {
  padding-top: 40px;
  color: #fff;
}


@media screen and (max-width: 600px) {
  .section .ul-listMateri {
    margin-left: 35px;
    flex: 0 0 calc(100% - 20px);
    margin-top: 170px;
  }
  .judul {
    font-size: 3em;
  }
  .paragrafmateri .rumus {
    font-size: 1em;
  }
  .cardMateri {
    width: 350px;
    height: 600px;
  }
  .section i:first-child {
    margin-left: 15px;
    margin-top: -30px;
  }
  
  .section i:last-child {
    margin-left: 360px;
    margin-top: -30px;
  }
}



/* CSS MATERI */


/* CSS KELOMPOK */

.kelompokcontainer {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.kelompokcontainer {
  display: flex;
  padding: 0 35px;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(to right bottom, #4d156d, #3b1c68, #2a1f61, #1a2058, #0c1f4e, #07224e, #03244e, #01264d, #022d57, #023560, #013d6a, #004574); 
}

.kelompokwrapper {
  max-width: 1100px;
  width: 100%;
  position: relative;
}

.kelompokborder {
    border-radius: 20px;
    background-color: #0F1D39;
    padding: 20px 16px;
}

.kelompokanggota {
  display: flex;
  text-align: center;
  flex-direction: column;
  padding: 2px;
  font-size: 2em;
  font-weight: bold;
  color: #fff;
}

.kelompokwrapper i {
  top: 55%;
  height: 45px;
  width: 43px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 45px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}

.kelompokwrapper .kelompokkiri {
  left: -3px;
}

/* .wrapper .kanan {
  right: -10px
} */

.kelompokwrapper i:active{
  transform: translateY(-50%) scale(0.85);
}

.kelompokwrapper i:first-child{
  left: -22px;
}

.kelompokwrapper i:last-child{
  right: -3px;
}

.kelompokcarousel{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.kelompokcarousel::-webkit-scrollbar {
  display: none;
}

.kelompokcarousel.no-transition {
  scroll-behavior: auto;
}

.kelompokcarousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}

.kelompokcarousel.dragging .kelompokcard {
  cursor: grab;
  user-select: none;
}

.kelompokcarousel :where(.kelompokcard, .kelompokimg) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.kelompokcarousel .kelompokcard {
  scroll-snap-align: start;
  height: 342px;
  list-style: none;
  background: #fff;
  cursor: pointer;
  padding-bottom: 15px;
  flex-direction: column;
  border-radius: 8px;
}

.kelompokcarousel .kelompokcard .kelompokimg {
  background: #07224E;
  height: 148px;
  width: 148px;
  border-radius: 50%;
}

.kelompokcard .kelompokimg img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #fff;
}

.kelompokcarousel .kelompokcard h2 {
  font-weight: 500;
  font-size: 1.56rem;
  margin: 30px 0 5px;
}

.kelompokcarousel .kelompokcard span {
  color: #0e0f0f;
  font-size: 1.31rem;
}

@media screen and (max-width: 900px) {
  .kelompokwrapper .kelompokcarousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}

@media screen and (max-width: 600px) {
  .kelompokwrapper .kelompokcarousel {
    grid-auto-columns: 100%;
  }
}
