/* CSS MATERI */
.parallax-container {
  position: relative;
  height: 100vh; 
  overflow: hidden;
}

.parallax-background {
  background: url('pexels-martin-dusek-174674-566862.jpg') no-repeat center center;
  background-size: cover;
  position: absolute;
  height: 120%;
  width: 100%;
  top: -20%;
  left: 0;
  z-index: -1;
  transform: translateZ(-1px) scale(2);
}

.section {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 1100px;
  width: 100%;
  height: 100vh;
  margin-top: 15px;
  margin-bottom: 120px;
  position: relative;
  overflow: hidden;
}

.section i {
  height: 50px;
  width: 50px;
  background: #fff;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  z-index: 9998;
  top: 50%;
  transform: translate(-50%);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
}

.section i:first-child {
  margin-left: 270px;
  margin-top: -40px;
}

.section i:last-child {
  margin-left: 1070px;
  margin-top: -40px;
}

.section .ul-listMateri {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100 / 3) - 12px);
  gap: 20px;
  position: static;
  margin-top: 100px;
  margin-left: 270px;
  text-align: center;
  transition: transform 0.5s ease-in-out;
}

.ul-listMateri .cardMateri {
  list-style: none;
  background: linear-gradient(to left top, #031a9a, #8b53ff);
  border-radius: 8px;
  display: flex;
  cursor: pointer;
  padding-bottom: 15px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.cardMateri {
  border-radius: 5px;
  padding: 50px;
  box-shadow: 5px 5px 8px 0 white;
  width: 800px;
  height: 450px;
  position: static;
}

.judul {
  font-size: 40px;
}

.paragrafmateri {
  margin: 10px;
  padding: 50px;
}

.rumus {
  padding-top: 40px;
}
/* CSS MATERI */


/* CSS KELOMPOK */

.kelompokcontainer {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.kelompokcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0 35px;
  background: linear-gradient(to left top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

.kelompokwrapper {
  max-width: 1100px;
  width: 100%;
  position: relative;
}

.kelompokwrapper i {
  height: 50px;
  width: 50px;
  background: #fff;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 50%;
  font-size: 1.25rem;
  transform: translateY(-50%);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
}

.kelompokwrapper h1 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 2rem;
  color: #fff;
}

.kelompokwrapper i:first-child {
  left: -22px;
}

.kelompokwrapper i:last-child {
  right: -22px;
}

.kelompokwrapper .kelompokcarousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  gap: 16px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.kelompokcarousel :where(.kelompokcard, .kelompokimg) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.kelompokcarousel.no-transition {
  scroll-behavior: auto;
}

.kelompokcarousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}

.kelompokcarousel.dragging .kelompokcard {
  cursor: grab;
  user-select: none;
}

.kelompokcarousel .kelompokcard {
  scroll-snap-align: start;
  height: 342px;
  list-style: none;
  background: #fff;
  border-radius: 8px;
  cursor: pointer;
  padding-bottom: 15px;
}

.kelompokcard .kelompokimg {
  background: #8B53FF;
  width: 148px;
  height: 148px;
  border-radius: 50%;
}

/* .wrapper .carousel .card:nth-child(3) .img img {

} */

.kelompokcard .kelompokimg img {
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #fff;
}

.kelompokcard h2 {
  font-weight: 500;
  font-size: 1.56rem;
  margin: 30px 0 5px;
}

.kelompokcard span {
  color: #6a6d78;
  font-size: 1.31rem;
}

@media screen and (max-width: 900px) {
  .kelompokwrapper .kelompokcarousel {
      grid-auto-columns: calc((100% / 2) - 9px);
  }
}

@media screen and (max-width: 600px) {
  .kelompokwrapper .kelompokcarousel {
      grid-auto-columns: 100%;
  }
}
